body {
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
  font-size: 16px;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

ul, li {
  display: block;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  background-image: url('./images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 57px;
}

header a {
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 70px;
}

.navbar li {
  list-style-type: none;
  margin-right: 40px;
}

.navbar li a {
  text-decoration: none;
  font-size: 14px;
}

.phone-tel {
  font-size: 17px;
  text-decoration: none;
  margin-left: auto;
}

.burning-man {
  margin-top: 216px;
  padding-bottom: 322px;
}

.burning-man p {
  margin: 0;
  text-transform: uppercase;
}

.the-life {
  font-size: 30px;
  color: #FFFFFF;
}

.burning-man__main {
  font-size: 100px;
  color: #FFFFFF;
  margin-bottom: 19px;
  margin-top: -9px;
}

.book-tickets {
  background: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 16px 23px;
  color: #fff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0;
  width: 240px;
}